*:focus {
  outline: none;
}

/*==========tables==========*/

/*border and background*/

* {
  --header-cell-color: #f5f7f7;
  --body-cell-color-odd: #ffffff;
  --body-cell-color-even: #fcfcfe;
  --body-cell-color-hover: #edf0f0;
  --outer-border-color: #bec3c7;
  --inner-border-color: #d9dcdf;
  --border-width: 0.5px;
}

.table-head-cell {
  background-color: var(--header-cell-color);
}
.tbody {
  border-bottom: 1px var(--outer-border-color) solid;
}

.table-head-cell {
  border: var(--border-width) var(--outer-border-color) solid;
}
/*.table-row .table-head-cell:first-child {*/
/*  border-left-width: calc(var(--border-width) * 2);*/
/*}*/
/*.table-row:first-child .table-head-cell {*/
/*  border-top-width: calc(var(--border-width) * 2);*/
/*}*/
/*.table-row .table-head-cell:last-child {*/
/*  border-right-width: calc(var(--border-width) * 2);*/
/*}*/
/*.table-row:last-child .table-head-cell {*/
/*  border-bottom-width: calc(var(--border-width) * 2);*/
/*}*/
.table-head {
  border: var(--border-width) var(--outer-border-color) solid;
}
.table-body-cell {
  border: 0 var(--inner-border-color) solid;
  border-bottom-width: 1px;
  border-left-width: 1px;
}
.table-row .table-body-cell:first-child {
  border-left-color: var(--outer-border-color);
}
.table-row .table-body-cell:last-child {
  border-right-width: 1px;
  border-right-color: var(--outer-border-color);
}
.table-row:last-child .table-body-cell {
  border-bottom-width: 0;
}

.table-row:nth-child(odd) .table-body-cell {
  background-color: var(--body-cell-color-odd);
}

.table-row:nth-child(even) .table-body-cell {
  background-color: var(--body-cell-color-even);
}

.table-row:hover .table-body-cell {
  background-color: var(--body-cell-color-hover);
}

/*font*/
* {
  --header-font-color: #707172;
  --body-icon-button-color: #6e6e6e;
}

.table-head-cell {
  color: var(--header-font-color);
  text-align: left;
  padding-left: 4px;
  padding-right: 5px; /*compensate left border width 1px*/
}

.body-icon-button {
  color: var(--body-icon-button-color);
}

/*height*/
* {
  --header-row-height: 28px;
  --content-height: 18px;
}

.table-row,
.table-head-cell,
.table-body-cell {
  height: var(--header-row-height);
  line-height: var(--header-row-height);
}

.body-icon-button {
  height: var(--content-height);
}

/*==========popover==========*/
* {
  --popover-border-color: var(--outer-border-color);
  --popover-background-color: var(--body-cell-color-even);
}

.popover-panel {
  z-index: 3000;
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px var(--popover-border-color) solid;
  background-color: var(--popover-background-color);
  box-shadow: 5px 5px 5px;
}

/*==========selection list==========*/
* {
  --selection-list-item-height: 1.5rem;
  --selection-list-max-height: calc(5 * var(--selection-list-item-height));
  --selection-list-button-border-color: var(--outer-border-color);
  --selection-list-button-border-size: 1px;
  --selection-list-button-color: #fcfcfe;
  --selection-list-button-height: var(--content-height);
}

.selection-list {
  max-height: var(--selection-list-max-height);
  overflow: auto;
}

.selection-list-button {
  border: var(--selection-list-button-border-size) solid
    var(--selection-list-button-border-color);
  border-radius: 2px;
  background-color: var(--selection-list-button-color);
  color: black;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: var(--selection-list-button-height);
  line-height: var(--selection-list-button-height);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

li.selection-list-item {
  line-height: var(--selection-list-item-height);
  border: 0 solid #e5e7eb;
  color: rgb(17 24 39);
  font-size: 12px;
}
li.selection-list-item:hover {
  color: rgb(17 24 39);
  background-color: #f0f0f0;
}
li.selection-list-item.selected {
  font-weight: bold;
}
.selection-item-icon {
  width: var(--selection-list-item-height);
  height: var(--selection-list-item-height);
}
